<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testi</title>
  </head>
  <body>
    <header><%- include("../partials/_header"); %></header>
    <% if (isLoggedIn) { %>
    <p>Welcome, you are logged in!</p>
    <% } else { %>
    <p>Please log in.</p>
    <% } %> <%= message %>
    <ul>
      <% list.forEach(function(user) { %>
      <li>
        <%= user.name %>'s hobby is <%= user.hobby %> and birth year is <%=
        user.birth_year %> <% }) %>
      </li>
    </ul>
    <footer><%- include("../partials/_footer"); %></footer>
  </body>
</html>
